body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}


/** 
 *
 * EasyTOI design extension.
 *
 */
.menu-title {
	text-transform: uppercase
}

.footer-list {
	padding-left: 15px;
	padding-right: 15px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.hr-menu-break-bgprim {
	max-width: 20rem;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid .25rem;
	margin-top: -20px;
	margin-bottom: 3rem !important;
}

hr.hr-menu-break-bgprim:after {
	background: #DDE2E3;
}

hr {
	color: #222222;
}

hr.hr-menu-break-bgprim:after, .hr-menu-break:after {
	position: relative;
	top: -.8em;
	display: inline-block;
	padding: 0 .25em;
	content: '\f0eb';
	font-family: FontAwesome;
	font-size: 2em;
	color: #222222;
}

.hr-menu-break-service {
	max-width: 20rem;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid .25rem;
	margin-top: -20px;
	margin-bottom: 3rem !important;
	color: #222222;
}

hr.hr-menu-break-service:after {
	background: #fff;
}

hr.hr-menu-break-service:after, .hr-menu-break:after {
	position: relative;
	top: -.8em;
	display: inline-block;
	padding: 0 .25em;
	content: '\f0eb';
	font-family: FontAwesome;
	font-size: 2em;
	color: #222222;
}

i.icon-home-new:after, .icon-home-new:after {
	position: relative;
	display: inline-block;
	content: '\f015';
	font-family: FontAwesome;
	font-size: 6em;
	margin-bottom: -20px;
	color: #222222;
}

i.icon-truck-new:after, .icon-truck-new:after {
	position: relative;
	display: inline-block;
	content: '\f0d1';
	font-family: FontAwesome;
	font-size: 6em;
	margin-bottom: -20 px;
	color: #222222;
}

.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
}

.g-recaptcha {
	width: 33% !important;
}

.col-new {
	max-width: 100% !important;
}

.contact-box-below {
	margin-top: 70px;
}

.social {
	margin-top: 70px;
}

.contact-boxes {
	margin-top: 0px;
}

form {
	margin: 0 auto;
	width: 100%;
	margin-top: 30px;
}

div.g-recaptcha {
	margin: 15px auto !important;
	width: auto !important;
	height: auto !important;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -o-center;
	text-align: -ms-center;
}

.col-md-4 {
	float: left;
}

#footer {
	margin-top: -40px;
	font-size: 12px !important;
	background-color: #f2f2f2;
	width: 100%;
	bottom: 0;
	min-height: 300px;
	color: #333;
}

.footer-container {
	margin-top: -50px;
	font-size: 13px !important;
}

section.services {
	text-align: center;
}

section.services h2 {
	margin-top: 0;
	margin-bottom: 30px;
}

section.features {
	text-align: center;
}

section.features h2 {
	margin-top: 0;
	margin-bottom: 30px;
}

section.download {
	text-align: center;
}

section.download h2 {
	margin-top: 0;
	margin-bottom: 30px;
}

section {
	padding: 100px 0
}

section h2 {
	font-size: 50px
}

.list-inline-item {
	font-size: 13px !important;
}

.footer-h3 {
	color: #333;
}
