/**
 *
 *	Color settings
 *
 */
/**
 *
 *	Dimension settings
 *
 */
/**
 *
 *  Images settings
 *
 */
/**
 *
 *  Slider settings
 *
 */
.white-bg {
  background: #fff; }

.slider-section {
  padding: 0px !important; }

/**
 *
 *  Header video selection settings
 *
 */
#main-section {
  padding-top: 170px;
  padding-bottom: 0px !important; }

.tablet-bg {
  height: 600px;
  padding-top: 45px;
  padding-left: 44px;
  width: 100%;
  background-image: url(../img/tablet.png);
  background-repeat: no-repeat;
  background-size: 750px 505px; }

.yt-frame {
  height: 415px;
  width: 663px; }

@media only screen and (max-width: 1199px) {
  .tablet-bg {
    background-size: 600px 400px;
    height: 460px;
    padding-top: 35px;
    padding-left: 35px; } }
@media only screen and (max-width: 1199px) {
  .yt-frame {
    height: 329px;
    width: 532px; } }
@media only screen and (max-width: 995px) {
  .tablet-bg {
    background-size: 450px 305px;
    height: 400px;
    padding-top: 26px;
    padding-left: 26px; } }
@media only screen and (max-width: 995px) {
  .yt-frame {
    height: 253px;
    width: 400px; } }
@media only screen and (max-width: 768px) {
  .tablet-bg {
    background-size: 320px 220px; } }
/**
 *
 *  General settings
 *
 */
.aweseome-txt h2 {
  line-height: 50px; }

.small-info-txt {
  font-size: 13px;
  text-align: right; }

.slogan {
  font-size: 12px;
  font-weight: 400;
  color: #292b2c;
  text-decoration: none !important; }

h4 {
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2; }

.text-white {
  color: #fff !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-primary {
  color: #acd661 !important; }

a {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

.nav-sep {
  color: #292b2c !important;
  font-size: 1rem;
  font-weight: 600;
  font-family: Lato, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  padding: 0.4rem 1rem; }

/**
 *
 *  Navigation
 *
 */
#mainNav {
  background-color: #fff !important;
  border-bottom: 4px solid #acd661;
  padding: 20px; }
  #mainNav .navbar-brand {
    color: #292b2c !important;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 !important; }
  #mainNav .navbar-nav > li > a {
    color: #292b2c !important;
    font-size: 1rem;
    font-weight: 600; }
  #mainNav .navbar-nav > li > a:hover {
    color: #acd661 !important; }
  #mainNav .navbar-nav > li > a.active {
    color: #acd661 !important; }
  #mainNav .navbar-toggler {
    color: #292b2c !important;
    font-size: 1rem;
    font-weight: 600; }

.brand li {
  line-height: 0 !important; }

.fas-navbar {
  margin-right: 10px; }

/**
 *
 *  Selection features
 *
 */
#features {
  background-color: #343a40;
  text: left !important; }
  #features p {
    color: rgba(255, 255, 255, 0.8) !important; }
  #features .py-5 {
    padding-top: 5rem !important; }
  #features .row {
    margin-right: 0px !important; }
  @media only screen and (min-width: 1820px) {
    #features .divider-dark.divider-arrow-l:before {
      border-right-color: #343a40; }
    #features .divider-dark.divider-diagonal-r:before {
      border-right-color: #343a40; }
    #features .divider-diagonal:before {
      border-right-color: transparent;
      border-left-width: 150px;
      border-left-style: solid;
      border-top: 867px solid transparent;
      height: 867px;
      margin-bottom: -867px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      z-index: 1; }
    #features .divider-diagonal.divider-diagonal-r:before {
      border-left-color: transparent;
      border-right-width: 150px;
      border-right-style: solid;
      border-top: 867px solid transparent;
      right: 0;
      left: auto; } }
  #features .feature-icon {
    font-size: 20px !important; }
  #features .py-5 {
    padding-left: 30px !important;
    padding-right: 30px !important; }

/**
 *
 *  Selection price
 *
 */
#prizes .price-icon {
  font-size: 50px;
  margin-bottom: 10px; }
#prizes .col-md-4 {
  padding-right: 40px !important;
  padding-left: 40px !important; }

/**
 *
 *  Selection contact form
 *
 */
#contact {
  background-image: url(../img/bg-contact-form.jpg); }
  #contact .profile-img {
    margin-bottom: 40px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    height: 150px; }
  #contact .contact-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px; }

/**
 *
 *	Selection awesome
 *
 */
.awesome {
  position: relative;
  padding: 5px;
  background-color: #acd661;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/**
 *
 *  Selection footer
 *
 */
.footer {
  padding: 50px 0;
  background-color: #343a40;
  min-height: 320px; }
  .footer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px; }
  .footer li {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px; }
  .footer .footer-text {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    color: rgba(255, 255, 255, 0.8); }
  .footer .fas-footer {
    margin-right: 20px; }

/**
 *
 *  Footer
 *
 */
footer {
  background-color: #292b2c; }
  footer a:hover {
    color: #acd661; }

/**
 *
 *  Icons
 *
 */
.fa-heart {
  color: #F44336; }

.fa-twitter {
  color: #1da1f2;
  font-size: 50px;
  margin-right: 20px; }

.fa-facebook-f {
  color: #3b5998;
  font-size: 50px;
  margin-right: 20px; }

.fa-google-plus-g {
  color: #de4e43;
  font-size: 50px;
  margin-right: 20px; }

/*# sourceMappingURL=easytoi.css.map */
